# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: pipline

on:
  push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
       fetch-depth: 0

    - name: Package
      run: mvn package

  publish:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read
      packages: write
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'adopt'
        package: '*.jar'
    - name: Publish to GitHub Packages Apache Maven
      run: mvn --batch-mode deploy 
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


  deploy-STG:
    runs-on: ubuntu-latest
    environment: 
      name: stg
    needs: publish

    if: github.ref == 'refs/heads/develop'
    steps:
      - name: Deploy
        shell: bash
        run:
          echo "DEploy STG"

  deploy-Pre:
    runs-on: ubuntu-latest
    environment: 
      name: pre
    needs: publish

    if: github.ref == 'refs/heads/release'
    steps:
      - name: Deploy
        shell: bash
        run:
          echo "Deploy Pre"

  deploy-Prod:
    runs-on: ubuntu-latest
    environment: 
      name: prod
    needs: publish

    if: github.ref == 'refs/heads/main'
    steps:
      - name: Deploy
        shell: bash
        run:
          echo "Deploy Prod"

          


          
        
